@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-grotesk: "Grotesk", sans-serif;
  --pp-primary: #5769e9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-grotesk);
}

*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-grotesk), sans-serif !important;
}

html,
body {
  background: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-grotesk), system-ui, sans-serif;
  overflow-x: hidden;
}

/* This hides the native scrollbar */
*::-webkit-scrollbar,
html::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}

/* This hides the native scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background);
}

th,
td {
  white-space: nowrap;
}

.profile-stats-card {
  background: transparent !important;
  border-radius: 0;
}

.sticky-modal-header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #222222;
}

.long-dash-border {
  border: 1.5px dashed #515151;
}

.breakable {
  word-break: break-all;
  overflow-wrap: anywhere;
}

.black-bg {
  background-color: #000000 !important;
}

@layer components {
  .dynamicBorder {
    @apply border-l-0 md:border-l md:border-l-[#363636];
  }

  .borderLeft {
    border-left: 1px solid #363636;
  }
}
